@import '_fonts.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import '_typography.css';

@import 'tailwindcss/utilities';

.cover-image {
  img {
    @apply w-full h-full object-cover object-center absolute inset-0;
  }

  div {
    @apply w-full h-full !important;
  }
}

.opacity-down {
  @apply opacity-[0.1] !important;
  filter: grayscale(100%);
}


.intro-fade-out {
  animation: fadeOut 0.6s cubic-bezier(0.77,0,0.18,1) forwards;
  animation-delay: 1s;
}

.intro-words {
  animation: rollOut 0.6s cubic-bezier(0.77,0,0.18,1) forwards;
  animation-delay: 0.8s;

  @apply transform transition-transform ease-in-out duration-500;
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }  
}

@keyframes rollOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }  
}